hister
webui/ext/dist
webui/ext/node_modules
webui/ext/hister_ext_src.zip
webui/ext/hister_ext_ff.zip
webui/ext/hister_ext_chrome.zip
result
result-*
node_modules/
dist/
.svelte-kit/
build/
server/static/app
tmp/
