@import '@fontsource/outfit/700.css';
@import '@fontsource/outfit/800.css';
@import '@fontsource/outfit/900.css';
@import '@fontsource/fira-code/400.css';
@import '@fontsource/fira-code/500.css';
@import '@fontsource/fira-code/600.css';
@import '@fontsource/fira-code/700.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@hister/components/colors.css';
@source "../../components/src";
@import './content.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  background-color: var(--brutal-bg);
  color: var(--text-primary);
}
